body {
    margin-top: 32px;
    background-color: #FFF4E7;
}

.page-wrapper {
    width: 100vw;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.banner {
    width: 100%;
    height: 24px;
    background-color: #2b1614;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    margin: 0;
    margin-top: -36px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.banner-text {
    color: white;
    padding: 12px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    letter-spacing: 0;
    justify-content: center;
}

.header {
    padding: 48px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo {
    justify-content: center;
    align-items: center;
    width: 4%;
}

.hero-wrapper {
    width: 100%;
    margin: 0;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.hero-section {
    display: inline-flex;
    justify-content: space-between;
    align-items: last baseline;
    direction: right;
    width: 100%;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 124px;
}

.hero-left_text {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-right_content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    align-content: baseline;
    
}

.hero-cta {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Satoshi", sans-serif;
    color: #FFF4E7;
    border-radius: 6px;
    border: none;
    background-color: #FFA300;
    transition: background-color 0.3s
}

.hero-cta:hover {
    background-color: #E18500;
    outline: 10px;
    outline-color: #f4ab2e;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(244, 175, 57, 0.637);
}

.hero-cta:active {
    transform: translateY(2px);
    transform: translateX(2px);
}

.button-sub {
    font-family: "Satoshi", sans-serif;
    color: #9B9585;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.64px;
}

h1 {
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-size: 64px;
    text-align: left;
    line-height: 140%;
    color: #2b1614;
    letter-spacing: -2px;
}

h3 {
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: left;
    line-height: 140%;
    color: #582f0e;
    letter-spacing: -1px;
}

.hero-video_container {
    height: 100vh;
    width: 100vw;
}

.hero-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 124px;
}

.hero-video::-webkit-media-controls {
    display: none !important;
}

.about-container {
    display: block;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 124px;
    align-items: center;
    justify-content: center;
}

.about-section {
    height: 80vh;
    width: 100%;
    display: flex;
    background-color: antiquewhite;
    border-radius: 12px;
    overflow: hidden;
    align-content: center;
    justify-content: center;
}

.left-about {
    width: 100%;
    height: 100%;
    background-image: url('Assets/Group 559.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 12px;
    box-shadow: 2px 0px 48px 0px rgba(0, 0, 0, 0.08);
}

.right-about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    margin: 0 54px 54px 54px;
}

.about-heading, .about-text, .about-cta {
    margin: 0 0 32px 0;
}

.about-heading {
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    color: #582F0E;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: -1.92px;
    max-width: 628px;
}

.about-text {
    color: #6C4322;
    font-family: "Satoshi", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: -1.28px;
}

.about-cta {
    width: auto;
    align-self: flex-start;
    padding: 6px 12px;
    justify-content: center;
    align-items: left;
    border-radius: 200px;
    border: none;
    background-color: #FFA300;
    color: #FFF4E7;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.8px;
}

.about-cta:hover {
    background-color: #E18500;
    outline: 10px;
    outline-color: #f4ab2e;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(244, 175, 57, 0.637);
}

.about-cta:active {
    transform: translateY(2px);
    transform: translateX(2px);
}

.left-image {
    width: 100%;
    height: 100%;
    object-fit: cover middle;
    margin-left: -60px;
    align-items: center;
    justify-content: center;
}

.yellow-dot {
    background-color: #FFBD00;
    height: 12px;
    width: 12px;
    border-radius: 200px;
}

.sm-title-about {
    display: flex;
    margin-bottom: 32px;
    align-items: center;
    gap: 12px;
}

.sm-title {
    font-family: "Satoshi", sans-serif;
    color: #7D7767;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.26px;
}

.top-feat-container {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 3fr auto;
    gap: 12px;
    width: 100%;
    height: 80vh;
}

.left-item {
    grid-row: 1;
    background-color: white;
    border-radius: 12px;
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-column: 1;
}


.grid-text {
    font-size: 32px;
    font-weight: 500;
    font-family: "Satoshi", sans-serif;
    color: #582F0E;
    line-height: 120%;
    grid-row: 2;
    align-self: flex-start;
    text-align: left;
}

.table {
    grid-row: 1;
    justify-self: end;
}

.right-item {
    grid-column: 2;
    column-span: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row: 1;
}

.top-item {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    gap: 66px;
    background-color: white;
    padding: 32px;
    border-radius: 12px;
    margin-left: 24px;
    grid-row: 1;
}

/* slider and animation */

.feat-container {
    height: 600px;
    overflow: hidden;
}

.slide-one {
    background-color: white;
    width: 400px;
    border-radius: 12px;
    flex-shrink: 0;
    text-decoration: none;
    padding: 30px;
    display: grid;
    place-items: center;
    gap: 0px;
    justify-content: center;
    margin: auto;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.one-txt {
    font-weight: 400;
    font-size: 32px;
    text-align: center;
}

.hourly-ui {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    display: flex;
    gap: 12px;
    scroll-snap-type: x mandatory;
    height: 640px;
    overflow-x: auto;
}

.top-con {
    display: grid;
    place-items: center;
}

.bttm-con {
    display: grid;
    place-items: center;
}

/* Products Section */

.products {
    margin-top: 247px;
    width: 100%;
}

.tt-txt {
    font-size: 48px;
    text-align: center;
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    color: #582F0E;
    letter-spacing: -2px;
    line-height: 140%;
}

.prod-title {
    margin-bottom: 72px;
}

.hat {
    background-image: url("Assets/Rectangle\ 7.svg");
    background-size: calc(100%);
    background-position: center;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    width: 850px;
    height: 600px;
    border-radius: 48px;
    transition: all 0.3s ease;
}

.hat:hover {
    background-size: calc(100% + 10%);
}

.hat-prod {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.buy-1 {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.buy-now {
    border-radius: 200px;
    border: none;
    background-color: #FFA300;
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    transition: background-color 0.3s
}

.buy-now:hover {
    background-color: #e9a039;
    outline: 10px;
    outline-color: #ffffff;
    cursor: pointer;
}

.prod-1 {
    color: white;
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
}

.price-1 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Satoshi", sans-serif;
    font-size: 24px;
    line-height: 140%;
    padding: 0;
    margin: 0;
}

.hat-container {
    padding: 32px;
    justify-content: space-between;
    display: flex;
    align-items: last baseline;
}

.prod-container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    gap: 12px;
}

/* Start seperate product */

.bag {
    background-image: url("Assets/Rectangle\ 8.svg");
    background-size: calc(100%);
    background-position: center;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    width: 850px;
    height: 600px;
    border-radius: 48px;
    transition: all 0.3s ease;
}

.bag:hover {
    background-size: calc(100% + 10%);
}

.bag-prod {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.buy-1 {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.buy-now {
    border-radius: 200px;
    border: none;
    background-color: #FFA300;
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    transition: background-color 0.3s
}

.buy-now:hover {
    background-color: #e9a039;
    outline: 10px;
    outline-color: #ffffff;
    cursor: pointer;
}

.prod-1 {
    color: white;
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
}

.price-1 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Satoshi", sans-serif;
    font-size: 24px;
    line-height: 140%;
    padding: 0;
    margin: 0;
}

.bag-container {
    padding: 32px;
    justify-content: space-between;
    display: flex;
    align-items: last baseline;
}

/* Start seperate product */

.shirt {
    background-image: url("Assets/IMG_8296.svg");
    background-size: calc(100%);
    background-position: center;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    width: 850px;
    height: 600px;
    border-radius: 48px;
    transition: all 0.3s ease;
}

.shirt:hover {
    background-size: calc(100% + 10%);
}

.shirt-prod {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.buy-1 {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.buy-now {
    border-radius: 200px;
    border: none;
    background-color: #FFA300;
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    transition: background-color 0.3s
}

.buy-now:hover {
    background-color: #e9a039;
    outline: 10px;
    outline-color: #ffffff;
    cursor: pointer;
}

.prod-1 {
    color: white;
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
}

.price-1 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Satoshi", sans-serif;
    font-size: 24px;
    line-height: 140%;
    padding: 0;
    margin: 0;
}

.bag-container {
    padding: 32px;
    justify-content: space-between;
    display: flex;
    align-items: last baseline;
}
/* Footer */

.footer-txt {
    font-size: 14px;
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    color: #7D7767;
    line-height: 140%;
}

.lumina-link {
    color: #7D7767;
    transition: color 0.3;
}

.lumina-link:hover {
    color: #E18500;
}

footer {
    margin-top: 147px;
    padding-left: 48px;
    padding-bottom: 48px;
}

@media only screen and (max-width: 768px) {
    
    .page-wrapper {
        width: 100vw;
        height: auto;
        overflow: none;
    }

    .banner {
        width: 100vw;
        margin-right: 0;
        margin-left: 0;
    }

    .prod-title {
        width: 100%;
    }

    .tt-txt {
        font-size: 30px;
        text-align: center;
        font-family: "Satoshi", sans-serif;
        font-weight: 400;
        color: #582F0E;
        letter-spacing: -1px;
        line-height: 140%;
    }

    .products {
        margin-left: 0;
        margin-right: 0;
    }

    .prod-container {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        height: 100%;
    }

    .hat {
        width: auto;
        height: auto;
    }

    .hat-container {
        height: 100%;
    }

    .bag-container {
        height: 100%;
    }

    .bag {
        width: 100%;
        height: 200px;
    }

    .shirt {
        width: 100%;
        height: 200px;
    }

    .logo {
        width: 20%;
    }

    h1 {
        font-family: "Satoshi", sans-serif;
        font-weight: 400;
        font-size: 30px;
        text-align: center;
        line-height: 140%;
        margin: 0;
        color: #2b1614;
        letter-spacing: -2px;
    }

    h3 {
        font-family: "Satoshi", sans-serif;
        font-weight: 400;
        font-size: 20px;
        margin: 0;
        text-align: center;
        line-height: 140%;
        color: #582f0e;
        letter-spacing: -0.5px;
    }

    .hero-left_text {
        justify-content: center;
        gap: 12px;
        align-items: center;
    }

    .hero-section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        flex-direction: column;
    }

    .about-container {
        display: flex;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        margin-top: 124px;
        align-items: start;
        justify-content: start;
    }

    .about-section {
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
        border-radius: 12px;
        overflow: hidden;
        align-content: center;
        justify-content: center;
    }

    .left-about {
        width: 100%;
        height: 100%;
        background-image: url('Assets/Group 559.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        border-radius: 12px;
        box-shadow: 2px 0px 48px 0px rgba(0, 0, 0, 0.08);
    }

    .right-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        padding-right: 24px;
        align-items: left;
        margin: 20px 20px 20px 20px;
    }

    .about-heading {
        font-family: "Satoshi", sans-serif;
        font-weight: 400;
        color: #582F0E;
        font-size: 20px;
        line-height: 140%;
        margin: 0;
        letter-spacing: -1px;
        max-width: 628px;
    }

    .about-text {
        color: #6C4322;
        font-family: "Satoshi", sans-serif;
        font-size: 16px;
        font-weight: 300;
        margin: 0;
        line-height: 140%;
        letter-spacing: -0.5px;
    }

    .about-cta {
        width: auto;
        align-self: flex-start;
        padding: 6px 12px;
        justify-content: center;
        align-items: left;
        border-radius: 200px;
        border: none;
        background-color: #FFA300;
        color: #FFF4E7;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.5px;
    }

    .about-cta:hover {
        background-color: #E18500;
        outline: 10px;
        outline-color: #f4ab2e;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(244, 175, 57, 0.637);
    }

    .about-cta:active {
        transform: translateY(2px);
        transform: translateX(2px);
    }

    .left-image {
        width: 100%;
        height: 100%;
        object-fit: cover middle;
        margin-left: -60px;
        align-items: center;
        justify-content: center;
    }

    .yellow-dot {
        background-color: #FFBD00;
        height: 12px;
        width: 12px;
        border-radius: 200px;
    }

    .sm-title-about {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .sm-title {
        font-family: "Satoshi", sans-serif;
        color: #7D7767;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.26px;
    }

    .feat-container {
        height: 600px;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 12px;
        padding-right: 12px;
        overflow: hidden;
    }

    .slide-one {
        background-color: white;
        width: 300px;
        border-radius: 12px;
        flex-shrink: 0;
        text-decoration: none;
        padding: 30px;
        display: grid;
        place-items: center;
        gap: 0px;
        justify-content: center;
        margin: auto;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

    .one-txt {
        font-weight: 400;
        font-size: 24px;
        text-align: center;
    }

    .hourly-ui {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider {
        display: flex;
        gap: 12px;
        scroll-snap-type: x mandatory;
        height: 600px;
        overflow-x: auto;
    }

    .top-con {
        display: grid;
        place-items: center;
    }

    .bttm-con {
        display: grid;
        place-items: center;
    }

    .footer {
        margin-left: 0;
    }

    .footer-txt {
        margin-left: 0;
    }


}

/* Updated last */